<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-indigo-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-indigo-bg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    cached
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Alquileres
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-24 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Buscar un alquiler">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <button mat-raised-button
                    [routerLink]="'/rents/rental/new'"
                    class="add-product-button mat-white-bg my-12 mt-sm-0">
                <span>Agregar un alquiler</span>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <ng-container matColumnDef="rent_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                    <mat-cell *matCellDef="let lender">
                        <p class="text-truncate">{{lender.rent_id}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="rent_borrow_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Prestatario</mat-header-cell>
                    <mat-cell *matCellDef="let lender">
                        <p class="text-truncate">{{lender.rent_borrow_id}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="rent_prod_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Artículo</mat-header-cell>
                    <mat-cell *matCellDef="let lender">
                        <p class="text-truncate">{{lender.rent_prod_id}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="rent_start">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha inicio</mat-header-cell>
                    <mat-cell *matCellDef="let lender">
                        <p class="text-truncate">{{lender.rent_range_date.rent_start}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="rent_end">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha fin</mat-header-cell>
                    <mat-cell *matCellDef="let lender">
                        <p class="text-truncate">{{lender.rent_range_date.rent_end}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="rent_status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado del alquiler</mat-header-cell>
                    <mat-cell *matCellDef="let lender">
                        <p class="text-truncate">{{lender.rent_status}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="rent_stat_reg">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let lender" fxHide fxShow.gt-xs>
                        <mat-chip-list>
                            <mat-chip *ngIf="lender.rent_stat_reg == 0" color="primary" selected="true">Deshabilitado</mat-chip>
                            <mat-chip *ngIf="lender.rent_stat_reg == 1" color="accent" selected="true">Habilitado</mat-chip>
                        </mat-chip-list>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let rental; columns: displayedColumns;" 
                         class="product" 
                         matRipple 
                         [routerLink]="'/rents/rental/'+rental.rent_id+'/details'">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
