@import "src/@fuse/scss/fuse";
:host {
    #maintenance {
        width: 100%;
        background: url('/assets/images/backgrounds/autumn.jpg') no-repeat;
        background-size: cover;
        #maintenance-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;
            @include media-breakpoint('xs') {
                padding: 16px;
            }
            #maintenance-form {                                
                padding: 48px;
                background: #FFFFFF;
                text-align: center;
                @include mat-elevation(16);
                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }
                .logo {
                    width: 128px;
                    margin: 32px auto;
                }
                .title {
                    font-size: 17px;
                    margin-top: 16px;
                    text-align: left;
                }
                .subtitle {
                    margin: 16px 0;
                    max-width: 300px;
                    color: rgba(0, 0, 0, 0.54);
                    font-size: 15px;
                }
            }
        }
    }
}


.example-card {
  max-width: 400px;
}

.resumen-card {
  max-width: 500px;
}

.resume-imagen {
    width: 240px;
    height: auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.block_container
{
    text-align:center;
}
.bloc1, .bloc2
{
    display:inline;
}

.grid-container {
    margin: 20px;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.card-number {
    width: 350px !important;
    font-size: 20px;
}

.card-name {
    width: 350px !important;
    font-size: 18px;
}

.card-fexp {
    width: 170px !important;
    font-size: 12px;
}

.card-cvc {
    width: 170px !important;
    font-size: 12px;
}

.card-payment-btn {
    margin-top: 10px;
    width: 300px !important;
    background-color: forestgreen;
}

@media only screen and (max-width: 600px) {
    .card-number {
        width: 300px !important;
        font-size: 20px;
    }
    .card-name {
        width: 300px !important;
        font-size: 18px;
    }
    .card-fexp {
        width: 150px !important;
        font-size: 12px;
    }
    .card-cvc {
        width: 150px !important;
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .card-number {
        width: 300px !important;
        font-size: 20px;
    }
    .card-name {
        width: 300px !important;
        font-size: 18px;
    }
    .card-fexp {
        width: 150px !important;
        font-size: 12px;
    }
    .card-cvc {
        width: 150px !important;
        font-size: 12px;
    }
}


.text-garantia {
    max-width: 500px;
}

.div-garantia {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 10px;
}