<script-hack>
    Culqi.publicKey = 'pk_live_iJuhEE0PgyDTvyFD'; 
    Culqi.init();    
    my.namespace.publicFunc('alexs')
    <!-- onclick="console.log('alex')" -->
</script-hack>                                           
<div id="maintenance" fxLayout="column">
    
    <div id="maintenance-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="maintenance-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <h1>Alquiler de un Monopolio</h1>   
            <mat-horizontal-stepper [linear]="true" #stepper (click)="firstClick()">
                <mat-step [stepControl]="resumenFormGroup">
                    <form [formGroup]="resumenFormGroup">
                        <ng-template matStepLabel>Resumen del alquiler</ng-template>
                        <mat-form-field class="w-100-p">
                            <input matInput placeholder="Last name, First name" formControlName="firstCtrl">
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="accent" matStepperNext (click)="firstClick()">
                                Siguiente
                                <mat-icon>navigate_next</mat-icon>
                            </button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="paymentFormGroup">
                    <div class="card-container">                
                        <div class="card-wrapper" style="margin-bottom: 20px; margin-top: 10px;"></div>
                        <div class="form-container">
                            <form [formGroup]="paymentFormGroup" name="paymentFormGroup" id="paymentFormGroup">
                                    <ng-template matStepLabel>Pago del alquiler</ng-template>
                                    <div class="tab-content p-12">
                                        <mat-form-field class="w-100-p">
                                            <input matInput name="number" placeholder="Número de tarjeta" formControlName="number" id="card[number]" required>
                                            <mat-icon matSuffix>credit_card</mat-icon>
                                            <mat-error *ngIf="paymentFormGroupErrors.number.required">
                                                El número de tarjeta es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="tab-content p-12">
                                        <mat-form-field class="w-100-p">
                                            <input matInput name="name" placeholder="Nombre en la tarjeta" formControlName="name" required>
                                            <mat-icon matSuffix>account_circle</mat-icon>
                                            <mat-error *ngIf="paymentFormGroupErrors.name.required">
                                                El nombre de la tarjeta es requerido.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="tab-content p-6">
                                        <mat-form-field class="w-40-p" style="margin-left: 15px;">
                                            <input matInput name="expiry" placeholder="Fecha de expiración" (change)="changeFecExp(expiry.value)" formControlName="expiry"
                                                required #expiry>
                                            <mat-icon matSuffix>calendar_today</mat-icon>
                                            <mat-error *ngIf="paymentFormGroupErrors.expiry.required">
                                                La fec. exp. es requerido.
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="w-40-p" style="margin-left: 15px;">
                                            <input matInput name="cvc" placeholder="CVC" formControlName="cvc" required id="card[cvv]">
                                            <mat-icon matSuffix>vpn_key</mat-icon>
                                            <mat-error *ngIf="paymentFormGroupErrors.cvc.required">
                                                El CVC es requerido.
                                            </mat-error>
                                        </mat-form-field>
                                        <input id="card[exp_month]" hidden [value]="card_month" type="text" />
                                        <input id="card[exp_year]" hidden [value]="card_year" type="text" />
                                    </div>
                                    <div class="tab-content p-12">
                                        <mat-form-field class="w-100-p">
                                            <input matInput name="email" placeholder="Correo Electrónico" formControlName="email" required type="email" id="card[email]">
                                            <mat-icon matSuffix>contact_mail</mat-icon>
                                            <mat-error *ngIf="paymentFormGroupErrors.email.required">
                                                El email es requerido.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                                                                
                                    <div>
                                        <button button mat-raised-button matStepperPrevious style="margin-left: 10px;">
                                            Retroceder
                                            <mat-icon>navigate_before</mat-icon>
                                        </button>
                                        <button [disabled]="paymentFormGroup.invalid" button mat-raised-button color="accent" style="margin-left: 10px;">
                                            Pagar
                                            <mat-icon>credit_card</mat-icon>
                                        </button>
                                    </div>
                                    
                            </form>
                        </div>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Felicidades</ng-template>
                    You are now done.
                    <div>                        
                        <button button mat-raised-button matStepperPrevious>
                            Retroceder
                            <mat-icon>navigate_before</mat-icon>
                        </button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>

        </div>
    </div>
</div>