<script-hack>
    Culqi.publicKey = 'pk_test_C91ocdg4q8xeCRf2'; 
    Culqi.init();
</script-hack>
<div id="maintenance" fxLayout="column" fusePerfectScrollbar>
    
    <div id="maintenance-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="maintenance-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <h1>Alquiler de {{product.prod_nombre}} </h1>   
            <mat-horizontal-stepper [linear]="true" #stepper (click)="firstClick()" *ngIf="paymentView">
                <mat-step [stepControl]="resumenFormGroup">
                    <form [formGroup]="resumenFormGroup">
                        <ng-template matStepLabel>Resumen del alquiler</ng-template>

                                <mat-accordion class="example-headers-align">
                                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Artículo
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                Información del artículo
                                                <mat-icon>account_circle</mat-icon>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>

                                        <div class="block_container">
                                            <div class="bloc1" style="margin-right: 30px;">
                                                <img *ngIf="!defaultImage" src="data:image/jpg;base64,{{productImage.data}}" class="resume-imagen">
                                                <img *ngIf="defaultImage" src="assets/images/circular/prodgr_default_300.png" class="resume-imagen">
                                            </div>  
                                            <div class="bloc2">
                                                <mat-form-field class="w-40-p">
                                                        <textarea matInput                                                                
                                                            placeholder="Descripción"
                                                            value="{{product.prod_desc}}"
                                                            rows="5"
                                                            readonly>
                                                        </textarea>
                                                </mat-form-field>
                                                <mat-form-field class="w-40-p" style="margin-left: 5px; margin-right: 5px;">
                                                    <input matInput                                                                
                                                        placeholder="Tiempo de uso"
                                                        value="{{product.prod_time_uso.time_value}} {{product.prod_time_uso.time_text}}"
                                                        readonly>
                                                </mat-form-field>
                                                <mat-form-field class="w-40-p" style="margin-left: 5px; margin-right: 5px;">
                                                    <input matInput                                                                
                                                        placeholder="Estado de conservación"
                                                        value="{{product.prod_est_converva.est_text}} - {{product.prod_est_converva.est_desc}}"
                                                        readonly>
                                                </mat-form-field>                                              
                                            </div>
                                        </div>                                                                            
                                        
                                        <mat-action-row>
                                        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                                        </mat-action-row>
                                    </mat-expansion-panel>

                                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
                                        <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Envío y Periodo
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Información del envío y periodo del alquiler.
                                            <mat-icon>motorcycle</mat-icon>
                                        </mat-panel-description>
                                        </mat-expansion-panel-header>

                                        <mat-form-field class="w-40-p" style="margin-left: 5px; margin-right: 5px;">
                                            <input matInput placeholder="Dirección de envío" 
                                                   value="{{rental.rent_end_address_rec}}"
                                                readonly>
                                        </mat-form-field>
                                        <mat-form-field class="w-40-p" style="margin-left: 5px; margin-right: 5px;">
                                            <input matInput placeholder="Horario disponible" 
                                                   value="{{rental.rent_end_time_range_rec.min_range}} a {{rental.rent_end_time_range_rec.max_range}}"
                                                readonly>
                                        </mat-form-field>

                                        <div class="tab-content p-30">
                                            <mat-form-field class="w-80-p" style="margin-left: 5px; margin-right: 5px;">
                                                <textarea matInput placeholder="Referencia" 
                                                          value="{{rental.rent_end_address_rec_ref}}" 
                                                          readonly>
                                                </textarea>
                                            </mat-form-field>
                                        </div>
                                        
                                        <mat-form-field class="w-40-p" style="margin-left: 5px; margin-right: 5px;">
                                            <input matInput placeholder="Inicio de alquiler" 
                                                   value="{{rental.rent_range_date.rent_start}}"
                                                readonly>
                                        </mat-form-field>
                                        <mat-form-field class="w-40-p" style="margin-left: 5px; margin-right: 5px;">
                                            <input matInput placeholder="Fin de alquiler" 
                                                   value="{{rental.rent_range_date.rent_end}}"
                                                readonly>
                                        </mat-form-field>

                                        <mat-action-row>
                                        <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                                        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                                        </mat-action-row>
                                    </mat-expansion-panel>

                                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
                                        <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Precio
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Información del precio
                                            <mat-icon>credit_card</mat-icon>
                                        </mat-panel-description>
                                        </mat-expansion-panel-header>                                        

                                        <div class="tab-content p-30">
                                            <mat-form-field class="w-20-p" style="margin-left:2px; margin-right: 2px;">
                                                <input matInput placeholder="Tiempo de alquiler" 
                                                       value="{{rental.rent_days}} días" 
                                                       matTooltip="Número de días que el artículo será alquilado"
                                                       readonly>
                                                <mat-icon matSuffix>date_range</mat-icon>
                                            </mat-form-field>
                                            <mat-form-field class="w-30-p" style="margin-left:2px; margin-right: 2px;">
                                                <input matInput placeholder="Precio por día" 
                                                       value="S/. {{rental.rent_days_price}}" 
                                                       matTooltip="Precio del artículo por día"
                                                       readonly>                                                
                                            </mat-form-field>
                                            <mat-form-field class="w-30-p" style="margin-left:2px; margin-right: 2px;">
                                                <input matInput placeholder="Total del alquiler" 
                                                       value="S/. {{total_days_price}}" 
                                                       matTooltip="Precio calculado en base al número de días por el precio por día."
                                                       readonly>                                                
                                            </mat-form-field>
                                        </div>

                                        <mat-form-field class="w-40-p" style="margin-left:5px; margin-right: 5px;">
                                            <input matInput placeholder="Precio por envío recepción" 
                                                   value="S/. {{rental.rent_shipping_delivery}}"     
                                                   matTooltip="Precio por movilizar el artículo hacia tu dirección."                                              
                                                   readonly>
                                            <mat-icon matSuffix>motorcycle</mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="w-40-p" style="margin-left:5px; margin-right: 5px;">
                                            <input matInput placeholder="Precio por envío devolución" 
                                                   value="S/. {{rental.rent_shipping_return}}"    
                                                   matTooltip="Precio para movilizar el artículo hacia su dueño al finalizar el alquiler."                                               
                                                   readonly>
                                            <mat-icon matSuffix>motorcycle</mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="w-40-p" style="margin-left:5px; margin-right: 5px;">
                                            <input matInput placeholder="Comisión Circular" 
                                                   value="S/. {{circular_com_price}}"   
                                                   matTooltip="Comisión por procesos operativos de Circular, se calcula en base al total del alquiler."                                                
                                                   readonly>
                                            <mat-icon matSuffix>group_work</mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="w-40-p" style="margin-left:5px; margin-right: 5px;">
                                            <input matInput placeholder="Total a pagar" 
                                                   value="S/. {{rental.rent_total_price}}"                                                   
                                                   matTooltip="Precio total a pagar del alquiler"
                                                   readonly>
                                            <mat-icon matSuffix>monetization_on</mat-icon>
                                        </mat-form-field>

                                        <mat-action-row>
                                        <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                                        <button mat-button color="primary" matStepperNext (click)="firstClick()" >Pagar</button>
                                        </mat-action-row>
                                    </mat-expansion-panel>
                                </mat-accordion>

                                <button mat-raised-button color="accent" matStepperNext (click)="firstClick()" style="margin-top: 20px;">
                                    Pago del alquiler
                                    <mat-icon>navigate_next</mat-icon>
                                </button> 
                    </form>
                </mat-step>
                <mat-step [stepControl]="paymentFormGroup">
                    <div class="card-container">                
                        <div class="card-wrapper credit-card" style="margin-bottom: 20px; margin-top: 10px;"></div>
                        <div class="form-container">
                            <form [formGroup]="paymentFormGroup" name="paymentFormGroup" id="paymentFormGroup">
                                    <ng-template matStepLabel>Pago del alquiler</ng-template>
                                    <div class="tab-content p-12">
                                        <mat-form-field class="w-100-p card-number">
                                            <input matInput name="number" placeholder="Número de tarjeta" formControlName="number" id="card[number]" required>
                                            <mat-icon matSuffix>credit_card</mat-icon>
                                            <mat-error *ngIf="paymentFormGroupErrors.number.required">
                                                El número de tarjeta es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="tab-content p-12">
                                        <mat-form-field class="w-100-p card-name">
                                            <input matInput name="name" placeholder="Nombre en la tarjeta" formControlName="name" required>
                                            <mat-icon matSuffix>account_circle</mat-icon>
                                            <mat-error *ngIf="paymentFormGroupErrors.name.required">
                                                El nombre de la tarjeta es requerido.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="tab-content p-6">
                                        <mat-form-field class="w-40-p card-fexp" style="margin-left: 5px; margin-right: 5px;">
                                            <input matInput name="expiry" placeholder="Fec. expira" (change)="changeFecExp(expiry.value)" formControlName="expiry"
                                                required #expiry>
                                            <mat-icon matSuffix>calendar_today</mat-icon>
                                            <mat-error *ngIf="paymentFormGroupErrors.expiry.required">
                                                La fec. exp. es requerido.
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="w-40-p card-cvc" style="margin-left: 5px; margin-right: 5px;">
                                            <input matInput name="cvc" placeholder="CVC" formControlName="cvc" required id="card[cvv]">
                                            <mat-icon matSuffix>vpn_key</mat-icon>
                                            <mat-error *ngIf="paymentFormGroupErrors.cvc.required">
                                                El CVC es requerido.
                                            </mat-error>
                                        </mat-form-field>
                                        <input id="card[exp_month]" hidden [value]="card_month" type="text" />
                                        <input id="card[exp_year]" hidden [value]="card_year" type="text" />
                                    </div>
                                    <div class="tab-content p-12">
                                        <mat-form-field class="w-100-p card-name">
                                            <input matInput name="email" placeholder="Correo Electrónico" formControlName="email" required type="email" id="card[email]">
                                            <mat-icon matSuffix>contact_mail</mat-icon>
                                            <mat-error *ngIf="paymentFormGroupErrors.email.required">
                                                El email es requerido.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <button button mat-raised-button matStepperPrevious style="margin-left: 10px;">
                                            Retroceder
                                            <mat-icon>navigate_before</mat-icon>
                                        </button>
                                        <button *ngIf="!cardValidate" [disabled]="paymentFormGroup.invalid" button mat-raised-button 
                                                 color="accent" 
                                                 onclick="my.namespace.validateCard(Culqi)"
                                                 style="margin-left: 10px;">
                                                 Validar Tarjeta
                                            <mat-icon>check_circle</mat-icon>
                                        </button>
                                        <button *ngIf="cardValidate" [disabled]="paymentFormGroup.invalid" button mat-raised-button 
                                                color="accent" 
                                                (click)="createPayment()"
                                                style="margin-left: 10px;">
                                                Pagar S/ 100.00
                                            <mat-icon>credit_card</mat-icon>
                                        </button>
                                        <button mat-button color="primary" 
                                                *ngIf="pago_realizado" 
                                                [disabled]="paymentFormGroup.invalid" 
                                                matStepperNext>Continuar</button>
                                    </div>                                     
                            </form>
                        </div>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Felicidades</ng-template>
                    You are now done.
                    <div>                        
                        <button button mat-raised-button matStepperPrevious>
                            Retroceder
                            <mat-icon>navigate_before</mat-icon>
                        </button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
            <mat-card class="example-card" *ngIf="!paymentView">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    El pago ya fue realizado o no existe.
                  </p>
                </mat-card-content>
            </mat-card>
            <div class="my-container">
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>                
            </div>            
        </div>
    </div>
</div>