<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- CONTENT -->
    <div class="content p-24">
        <div class="h2 mb-24">Agregar un documento</div>                          
                <div *ngIf="image.data_image != null" class="tab-content p-24">
                            <div class="product-image" fxlayout="row" fxLayoutAlign="center center">                                            
                                <img class="media" src="data:image/jpg;base64,{{image.data_image}}">                                       
                            </div>
                </div>                
                <div class="tab-content p-24">
                            <div class="file-uploader">
                                <input accept="image/x-png,image/jpeg" (change)="handleFileInput($event)" 
                                hidden type="file" #fileInput/>
                            </div>
                            <mat-form-field class="w-100-p">
                                <input class="selectImage" readonly (click)="fileInput.click()" id="txtFileName" matInput placeholder="Nombre del archivo">
                                <span matPrefix>
                                    <button mat-mini-fab (click)="fileInput.click()" 
                                            aria-label="Add file">
                                            <mat-icon>file_upload</mat-icon>
                                    </button>
                                     &nbsp;
                                     &nbsp;
                                </span>
                            </mat-form-field> 
                            <mat-form-field class="w-100-p">
                                    <input matInput placeholder="Descripción del documento" id="txtDescImage" (keypress)="checkStatusButtonKeypress($event)" (change)="checkStatusButton()" [value]="image_desc" required>
                            </mat-form-field>
                            <button [disabled]="!saveDocumentStatus" (click)="addDocument()" type="button" mat-raised-button color="accent" class="submit-button">
                                <mat-icon>cloud_upload</mat-icon> Agregar documento
                            </button>                            
                </div>                                                              
    </div>
    <!-- / CONTENT -->
</div>