<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-light-green-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-light-green-bg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <!-- <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div> -->

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.prod_nombre}} --
                        <span>{{product.prod_id}}</span>
                        <button matTooltip="Copiar código" (click)="copyClipBoardLenderId(product.prod_id)" mat-mini-fab style="margin-left: 10px;">
                            <mat-icon aria-label="Example icon-button with a heart icon">content_copy</mat-icon>
                        </button>
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nuevo Artículo
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalles del artículo</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button mat-white-bg"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>Registrar</span>
            </button>

            <button mat-raised-button id="btnSaveProduct"
                    class="save-product-button mat-white-bg"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>Guardar</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Prestamista">
                            <div class="tab-content p-24" fusePerfectScrollbar>                                
                                <mat-form-field class="w-50-p">
                                    <input matInput name="lender_user_id" 
                                           formControlName="lender_user_id" 
                                           (input)="onSearchLenderChange($event.target.value)"
                                           maxlength="16"
                                           [readonly]="readonlyLender"
                                           placeholder="Código de prestamista"
                                           required>
                                </mat-form-field>
                                <mat-card class="result" *ngIf="lenderInformation">
                                    <mat-card-content>
                                        <h2 class="example-h2">Información del Prestamista</h2>
                                        <mat-form-field class="w-50-p">
                                            <input matInput 
                                                   [value] = "lender.user_names"
                                                   placeholder="Nombres" readonly>
                                        </mat-form-field>
                                        <mat-form-field class="w-50-p">
                                            <input matInput 
                                                   [value] = "lender.user_num_doc"
                                                   placeholder="N° Documento" readonly>
                                        </mat-form-field>
                                        <mat-form-field class="w-50-p">
                                            <input matInput 
                                                   [value] = "lender.user_full_name1"
                                                   placeholder="Apellido Paterno" readonly>
                                        </mat-form-field>
                                        <mat-form-field class="w-50-p">
                                            <input matInput 
                                                   [value] = "lender.user_full_name1"
                                                   placeholder="Apellido Materno" readonly>
                                        </mat-form-field>
                                        <mat-form-field class="w-50-p">
                                            <input matInput 
                                                   [value] = "lender.user_email"
                                                   placeholder="Correo electrónico" readonly>
                                        </mat-form-field>
                                        <mat-form-field class="w-50-p">
                                            <input matInput 
                                                   [value] = "lender.user_ubigeo.ubig_dpt + ' / ' + lender.user_ubigeo.ubig_prv + ' / ' + lender.user_ubigeo.ubig_dst"
                                                   placeholder="Ubigeo" readonly>
                                        </mat-form-field>
                                        <button (click)="navigateToLender()" mat-raised-button color="accent">
                                            <mat-icon>account_circle</mat-icon>
                                            <span>  Ver detalle</span>
                                        </button>
                                    </mat-card-content>
                                </mat-card>
                                <!-- <div class="header" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                                    <div class="search-input-wrapper mx-24 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                                        <label for="search" class="mr-8">
                                            <mat-icon class="secondary-text">search</mat-icon>
                                        </label>
                                        <mat-form-field class="w-40-p" floatLabel="never">
                                            <input id="search" matInput #filter placeholder="Buscar un prestamista">
                                        </mat-form-field>                                        
                                    </div>
                                </div>
                                <div class="content-card mat-white-bg">

                                    <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                                        <ng-container matColumnDef="prod_id">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                                            <mat-cell *matCellDef="let product">
                                                <p class="text-truncate">{{product.prod_id}}</p>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="prod_nombre">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                                            <mat-cell *matCellDef="let product">
                                                <p class="text-truncate">{{product.prod_nombre}}</p>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="prod_categoria">
                                            <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Categoría</mat-header-cell>
                                            <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
                                                <p class="category text-truncate">
                                                    {{product.prod_categoria.catg_nombre}}
                                                </p>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="prod_est_alquiler">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Estado Alquiler</mat-header-cell>
                                            <mat-cell *matCellDef="let product" fxHide fxShow.gt-sm>

                                                <span>
                                                    {{product.prod_est_alquiler}}
                                                </span>

                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="prod_est_registro">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Estado</mat-header-cell>
                                            <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
                                                {{product.prod_est_registro}}
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                                        <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" matRipple>
                                        </mat-row>

                                    </mat-table>

                                    <mat-paginator #paginator>
                                    </mat-paginator>

                                </div> -->
                            </div>
                        </mat-tab>

                        <mat-tab label="Información">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="prod_nombre"
                                           formControlName="prod_nombre"
                                           placeholder="Nombre del artículo"
                                           required>
                                </mat-form-field>
                                <mat-form-field class="w-100-p">
                                    <textarea matInput
                                           name="prod_desc"
                                           formControlName="prod_desc"
                                           placeholder="Descripción del artículo"
                                           required
                                           rows="3">
                                    </textarea>
                                </mat-form-field>
                                <mat-form-field class="w-50-p">
                                    <mat-select placeholder="Categoría del artículo" formControlName="catg_id"
                                        required>
                                        <mat-option *ngFor="let categ of listadoCategorias" [value]="categ.catg_id">
                                            {{categ.catg_nombre}}
                                        </mat-option>
                                    </mat-select>  
                                </mat-form-field>                                
                              
                                <mat-form-field class="w-100-p">

                                    <mat-chip-list #tagList name="prod_tags" formControlName="prod_tags">

                                        <mat-chip *ngFor="let tag of product.prod_tags"
                                                  [removable]="true" (removed)="removeTagProduct(tag)">
                                            {{tag}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input placeholder="Tags del artículo"
                                               [matChipInputFor]="tagList"
                                               [matChipInputAddOnBlur]="true"
                                               (matChipInputTokenEnd)="addTagProduct($event)"/>
                                    </mat-chip-list>

                                </mat-form-field>

                                <mat-card class="result" *ngIf="pageType ==='edit'">
                                    <mat-card-content>
                                        <h2 class="example-h2">Estado del producto</h2>

                                        <section class="example-section">
                                            <mat-slide-toggle (change)="changeStatusProduct($event)" [checked]="checkedStatusProduct">
                                                {{prod_current_status}}
                                            </mat-slide-toggle>
                                        </section>
                                    </mat-card-content>
                                </mat-card>

                            </div>

                        </mat-tab>

                        <mat-tab label="Imágenes">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <!-- <div *ngIf="product.images.length === 0"
                                                                class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                                                <img class="media"
                                                                    [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                                                            </div> -->

                                    <div *ngFor="let image of listImages">
                                        <div *ngIf="listImages.length > 0" class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img (click)="viewImageComplete(image)" class="media" src="data:image/jpg;base64,{{image.data}}">
                                        </div>
                                        <mat-form-field class="w-90-p">
                                            <input matInput placeholder="Descripción del documento" [value]="image.desc.image_desc" readonly>
                                        </mat-form-field>
                                    </div>

                                    <button (click)="uploadDocument()" mat-fab>
                                        <mat-icon aria-label="Agregar precio">exposure_plus_1</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Precios">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div formArrayName="prod_rango_precios">
                                    <div *ngFor="let rango of productForm.value.prod_rango_precios.controls; index as i">
                                            <div [formGroup]="rango">
                                                <mat-form-field class="w-20-p">
                                                    <input matInput
                                                        name="name"
                                                        formControlName="rango"
                                                        placeholder="Rango de días">
                                                </mat-form-field>
                                                <mat-form-field class="w-20-p">
                                                    <input matInput
                                                        name="name"
                                                        formControlName="precio"
                                                        placeholder="Precio">
                                                </mat-form-field>  
                                                <button (click)="eliminarRangoPrecio(rango)" mat-fab>
                                                    <mat-icon aria-label="Agregar precio">exposure_neg_1</mat-icon>                                    
                                                </button>                                                                                                    
                                            </div>                                            
                                    </div>                                     
                                </div>  
                                                <button (click)="agregarRangoPrecio()" mat-fab>
                                                    <mat-icon aria-label="Agregar precio">exposure_plus_1</mat-icon>                                    
                                                </button>                                                              
                            </div>
                        </mat-tab>

                        <mat-tab label="Ubicación">
                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                                <div class="py-16" fxLayout="row">
                                    <mat-form-field fxFlex>
                                        <input matInput
                                               name="prod_dir_entrega"
                                               formControlName="prod_dir_entrega"
                                               placeholder="Dirección de entrega"
                                               required>
                                    </mat-form-field>
                                    <mat-form-field fxFlex>
                                        <input matInput
                                               name="prod_hora_entrega"
                                               formControlName="prod_hora_entrega"
                                               placeholder="Hora de entrega"
                                               required>
                                    </mat-form-field>
                                </div>

                                <!-- <div class="py-16" fxLayout="row">
                                    <mat-form-field fxFlex>
                                        <input matInput
                                               name="prod_dir_recibe"
                                               formControlName="prod_dir_recibe"
                                               placeholder="Dirección de recepción"
                                               required>
                                    </mat-form-field>
                                    <mat-form-field fxFlex>
                                        <input matInput
                                               name="prod_hora_recibe"
                                               formControlName="prod_hora_recibe"
                                               placeholder="Hora de recepción"
                                               required>
                                    </mat-form-field>
                                </div> -->
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
